/* FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500&display=swap');

/* ESTILOS GLOBALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* ESTILOS NAV */
.contenedorNav{
    display: flex;
    background-color: white;
    height: 200px;
}
    .contenedorNav nav{
        margin: auto;
    }
        .contenedorNav li{
            list-style: none;
        }
            

/* ESTILOS HEADER */
.contenedorHeader{
    height: 400px;
    background-color: #040404;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    letter-spacing: 10px;
}
    .headerImg img{
        width: 800px;
    }

    .headerTexto{
        margin: 20px 200px;
    }
        .headerTexto h1{
            font-size: 100px;
        }
        .headerTexto h3{
            margin-top: 40px;
            margin-bottom: 20px;
            font-weight: 300;
        }
        .headerTexto p{
            font-size: 25px;
            font-weight: 100;
        }

/*ESTILOS CARRITO*/
.divconCarrito{
    color: #040404;
    width: 100%;
    font-size: 50px;
    text-align: end;
    padding: 20px 60px;
    position: fixed;
    top: 20px;
    right: 0;
}
   .divconCarrito #carrito::after{
        content: "2";
        font-size: 16px;
        text-align: center;
        line-height: 26px;
        color: white;
        width: 30px;
        height: 30px;
        display: block;
        background-color: #9a9f95;
        position: absolute;
        top: 15px;
        right: 50px;
        border-radius: 50%;
    }

/* ESTILOS MAIN */
/* FILTROS */
main{
    width: 1200px;
    margin: 40px auto;
}
    .buscador input{
        height: 50px;
        width: 100%;
        border-radius: 20px;
        border: 1px solid;
        padding: 0px 50px;
        font-size: 18px;
        margin: 40px 0px;
    }
    
    .titulos {
        font-size: 40px;
        margin:50px 0px;
        text-align: center;
        position: relative;
    }
        /* LINEAS AL LADO DEL H2 "BUSQUEDA CON contenedorFiltros" */
        .titulos::after{
            content: "";
            width: 330px;
            height: 1px;
            display: block;
            background-color: #040404;
            position:absolute;
            top: 50%;
            
        }
        .titulos::before{
            content: "";
            width: 330px;
            height: 1px;
            display: block;
            background-color: #040404;
            position:absolute;
            top: 50%;
            right: 0%;
        }

        .filtros{
            display: flex;
            justify-content: space-between;
            gap: 40PX;
        }
            .filtro{
                width: 100%;
                /* background-color: #bebebe; */
            }
                .filtro h3{
                    font-size: 25px;
                    letter-spacing: 3px;
                    font-weight: 300;
                }
                .filtro select{
                    width: 100%;
                    font-size: 18px;
                    font-weight: 300;
                    border-radius: 10px;
                    color: white;
                    background-color: #4f584793;
                    margin: 10px 0px;
                    padding: 5px 20px;
                }
        .respuestaApi__coctel .respuestaApi__infoCoctel .btnPedir{
            background-color: #9a9f95;
            width: 100px;
            font-weight: bold;
            color: white;
        } 
        .contenedorFiltros__botones{
            margin: 30px 0px;
            display: flex;
            justify-content: center;
        }
            .contenedorFiltros__boton,.respuestaApi__coctel input{
                padding: 10px 0px;
                margin: 0px 40px;
                width: 200px;
                font-size: 20px;
                font-weight: 300;
                border: 2px solid #040404;
                background-color: white;
                border-radius: 20px;
                transition: 0.7s;
            }
                .contenedorFiltros__boton:hover,.respuestaApi__coctel input:hover , .respuestaApi__coctel .respuestaApi__infoCoctel .btnPedir:hover{
                    color: white;
                    background-color: #040404;
                    font-weight: 700;
                }

               

/* ESTILOS COCTELES RESPUESTA API */
#contenedorCocteles h2{
    margin-top: 100px;
}
#contenedorCocteles .contenedorOrdenar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
    height: 100px;
}
    .contenedorOrdenar p{
        font-size: 22px;
        background-color: #9a9f95a3;
        color: white;
        font-weight: bold;
        padding: 10px 20px;
        width: 150px;
        border-radius: 10px;
    }
    #contenedorCocteles .contenedorOrdenar  input[type=radio]{
        -webkit-appearance: none; /* Elimina el estilo predeterminado de WebKit */
        -moz-appearance: none; /* Elimina el estilo predeterminado de Firefox */
        appearance: none; /* Elimina el estilo predeterminado */
        outline: none; /* Elimina el contorno por defecto en algunos navegadores */

        margin-right: 5px;
        width: 20px;
        height: 20px; 
        border-radius: 50%; 
        border: 2px solid #9a9f95; 
        padding: 2px;
       
    }
    #contenedorCocteles .contenedorOrdenar  input[type=radio]:checked{
        background-color: #9a9f95;
        font-size: 22px;
    }
    #contenedorCocteles .contenedorOrdenar  input[type=radio]:checked + label{
        font-size: 18px;
        font-weight: bold;
        transition: 0.2s linear;
    }
.respuestaApi__coctel{
    height: 350px;
    margin-bottom: 30px;
    border-radius: 30px;
    background-color: #0e0e0e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: end;
}
.respuestaApi__coctel:nth-child(even){
    flex-direction: row-reverse;
    text-align: start;
}
    .respuestaApi__infoCoctel{
        padding: 80px;
    }
    .respuestaApi__coctel img{
        max-width: 350px;
    }
    .respuestaApi__coctel h3{
        font-size: 40px;
        font-weight: 100;
    }
    .respuestaApi__coctel p{
        font-size: 30px;
        font-weight: 700;
        padding: 20px 0px;
    }
    
    #respuestaApi .respuestaApi__coctel:nth-child(even) input{
        float: left;
        margin: 0;
    }
    #respuestaApi .respuestaApi__coctel:nth-child(odd) input{
        float: right;
        margin: 0;
    }

/* ESTILOS BOTONES PAGINACION */
#paginacion{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
    #paginacion input{
        padding: 10px;
        border-radius: 6px;
        width: 45px;
        border: 1px solid #9a9f95;
        color: #9a9f95;
        background-color: white;
        font-size: 18px;
        margin: 0px 10px;
        cursor: pointer;
    }

    #paginacion input:hover{
        border: none;
        color: white;
        background-color: #9a9f95;
    }
    #paginacion > #paginas > .seleccionado{
        background-color: #9a9f95 ;
        color: white ;
    }

/* ESTILO LOADER */
.containerLoader{
    display: flex;
}
#loader{
    width: 200px;
    animation:  loader 0.8s linear infinite; 
    transform-origin: center;
    margin: auto;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(80deg);
    }75%{
        transform: rotate(160deg);

    }100%{
        transform: rotate(360deg);
    }
}